@font-face {
  font-family: cromwell_revival_002;
  src: url(../fonts/Cromwell_Revival_002.glyphs);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cromwell_revival_002;

  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  margin-top: 20%;
  font-size: 3em;
  padding-bottom: 4%;
}

h3 {
  text-align: justify;
  padding-bottom: 2.5%;
}

