@font-face {
  font-family: cr_004;
  src: url(../../fonts/Cromwell_Revival_004-Regular.otf);
}

@font-face {
  font-family: cr_001;
  src: url(../fonts/Cromwell_Revival_001-Regular.ttf);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cr_004;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  margin-top: 20%;
}

h1 {
  /* margin-top: 20%; */
  font-size: 7em;
  letter-spacing: .0125em;
  padding-bottom: 4%;
  color: white; 
}

h2 {
  font-size: 2.5em;
  color: white;
}





h3 {
  text-align: justify;
  padding-bottom: 2.5%;
}

footer {
 margin-top: 5%;
}

a {
  text-decoration: none;
  padding-right: 2.5%;
}

